<!-- BUILT IT FROM:
https://getbootstrap.com/docs/5.3/forms/form-control/#example
https://getbootstrap.com/docs/5.3/forms/select/#default
https://getbootstrap.com/docs/5.3/forms/select/#default -->

<form [formGroup]="budgetForm">
    <label for="cliente" class="form-label">Cliente</label>
    <input type="text" class="form-control" formControlName="cliente">

    <label for="Fecha" class="form-label">Fecha</label>
    <input type="date" class="form-control" formControlName="Fecha">

    <button type="button" class="btn btn-primary">Agregar Zona</button>

    <button type="button" class="btn btn-primary">Guardar</button>
</form>
